{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="post">
        {% if error %}
            <div class="notification is-danger">Vos données sont incorrectes</div>
        {% endif %}

        <div class="login_form_wrapper">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <!-- login_wrapper -->
                        <div class="login_wrapper">
                            <h2 class="title is-5 has-text-centered">Connexion</h2>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" placeholder="Email" required autofocus>
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" name="_remember_me">
                                    Se souvenir de moi
                                </label>
                            </div>
                            <div class="field">
                                <a href="#" class="forget_password">
                                    Mot de passe oublié
                                </a>
                            </div>
                            <div class="field">
                                <button class="button is-primary" type="submit">
                                    Se connecter
                                </button>
                            </div>
                            <div class="login_message has-text-centered">
                                <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Créez un compte</a></p>
                            </div>
                        </div>
                        <!-- /.login_wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
