.card-body h1{
  margin-bottom: 5%;
}

.product-image {
  width: 50%;

}

.product-image img {
  max-width: 100%;
  border-radius: 10px;
}

.product-details {
  width: 50%;
}

.product-details h4 {
  margin-top: 5px;
}

.product-details h2 {
  margin-top: 5px;
}

.product-info {
  width: 100%;
}

.product-info h3 {
  margin-top: 5px;
}

.product-info table {
  border-collapse: collapse;
  width: 100%;
}