.card-body h1{
  font-size: 30px;
  margin-bottom: 5%;
}

.product-image {
  width: 45%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.product-image img {
  max-width: 90%;
  border-radius: 10px;
}

.product-details h4 {
  margin-top: 5px;
}

.product-details h3 {
  margin-top: 50px;
  font-size: 35px;
}

.product-details p {
 font-size: 18px;
}

.product-details h2 {
  margin-top: 5px;
}

.product-info {
  width: 100%;
}

.product-info h3 {
  margin-top: 5px;
}

.product-info table {
  border-collapse: collapse;
  width: 100%;
}