body{
  background-color: #e2e9f3;
  margin-top:20px;
}

.tete a{
  color: white;
  margin: 30px;
}

h1{
  text-align: center;
}
.card {
  margin-bottom: 30px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden; /* Cacher le texte débordant */
}

.card-content {
  white-space: nowrap; /* Empêcher le texte de passer à la ligne */
  overflow: hidden; /* Cacher le texte débordant */
  text-overflow: ellipsis; /* Afficher les trois points de suspension */
}

.media-content{
  overflow: hidden;
}

/* section commentaire */

.formcom{
  background-color: #010a4b;
  color: white;
  padding: 30px;
  border: 2px solid white;
  margin-bottom: 35px;
  margin-top: 80px;
  border-radius: 15px;
}

.butdelete{
  float: right;
}

/* nav vertical */



.produits{
  margin-left: 3%;
  margin-top: 2.5%;
}


.column.colnav {
  width: 300px; /* Ajustez la largeur de la colonne selon vos besoins */
  background-color: #010a4b;
  flex-grow: 0;
}


.menu {

  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {

  background-color: #555;
  color: #fff;
}








